body {
  max-width: 80rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5% 0;
  background-color: #f7f7f7;
}
.logo {
  text-align: center;
}
.nav {
  margin: 3.75rem 0;
  text-align: center;
  cursor: pointer;
  padding: 1.25rem 0.938rem;
}
.nav ul {
  display: flex;
  gap: 0.938rem;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0.938rem;
}
.nav ul li {
  background-color: #fff;
  flex-basis: 8.125rem;
  padding: 0.625rem 0.938rem;
  border-radius: 0.313rem;
  border: 0.125rem solid #fff;
}
.nav ul li a {
  color: #000;
  text-transform: uppercase;
}
.nav li:hover{
    border: 0.125rem solid #900;
    -webkit-transition: 0.3s ease-in;
     -moz-transition: 0.3s ease-in;
     -o-transition: 0.3s ease-in;
     transition: 0.3s ease-in
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto minmax(31.25rem, auto);
}
.conteudo {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-top: 5rem;
  background-color: #fff;
  position: relative;
}
.conteudo p {
  font-size: 1.25rem;
  text-align: end;
}
.conteudo .btn {
  background-color: #ee2211;
  align-self: flex-end;
  padding: 0.938rem 1.875rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.conteudo .btn a {
  color: #fff;
  text-transform: uppercase;
}
.btn:hover{
    background-color: #900;
    -webkit-transition: 0.1s ease-in;
     -moz-transition: 0.1s ease-in;
     -o-transition: 0.1s ease-in;
     transition: 0.1s ease-in;
}
h1::before {
  content: "";
  background-color: #ee2211;
  width: 3.125rem;
  height: 0.313rem;
  position: absolute;
  left: 95%;
  top: 5%;
}
.imagemBicicleta img {
  width: 100%;
  height: 100%;
}
.vantagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/onda.svg);
  background-position-x: center;
  background-repeat: repeat;
  background-position: center;
  background-size: 6.25;
  background-color: #f7f7f7;

}
.vantagens h2 {
  font-size: 3.875rem;
  color: #c6c6c6;
  text-transform: uppercase;
  text-align: end;
  padding-right: 1.875rem;
}
.diferencial {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 1.875rem; */
  justify-content: center;
  padding: 2.5rem;
}
.diferencial .diferencial-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 0.313rem;
  padding: 2.5rem 0.313rem;
}
.diferencial-item:nth-child(odd){
 background-color: #f7f7f7;
}
.diferencial-item:hover{
    border-left:0.125rem solid  #900;
    -webkit-transition: 0.1s ease-in;
     -moz-transition: 0.1s ease-in;
     -o-transition: 0.1s ease-in;
     transition: 0.1s ease-in;
}
.diferencial p {
  grid-column: 2;
  font-size: 1.25rem;
}
footer{
   text-align: center;
   background-color: #f7f7f7;
   padding: 0.938rem 0;
   color: #000;
   font-weight: bold;
}